<section id="left">
<h1>LOGIN</h1>
<h2>
    Please enter your credintials
</h2>
<form>
    <label for="userName">Username: </label>
    <input class="form-control" id="userName" type="text" formControlName="userName">

    <label for="password">Password: </label>
    <input class="form-control" id="password" type="password" formControlName="password">

    <input type="checkbox" id="rememberMe">
    <label for="rememberMe">Remember me</label>

    <a>Forgot password</a>

    <br>
    
    <button class="btn btn-primary" type="button">Sign in</button>
</form>
</section>

<section id="right">

</section>